/* screens 
  small: 640px;
  medium: 768px;
  large: 1024px;
  xlarge: 1280px;
  xxlarge: 1536px
 */

.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.type::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

/* colorfilltest */
.mask-container {
  position: relative;
}

.colorFillImg {
  position: absolute;
  height: 800px;
}

.sketchImg {
  
  
  mask-image: url("../images/tattootestmask.png");
 
  mask-size: cover;
  -webkit-mask-image: url("../images/tattootestmask.png");
  -webkit-mask-size: cover;
 
}

.imgShadow {
  -webkit-filter: drop-shadow(1px 1px 0px 1px #43b0ff);

  filter: drop-shadow(1px 2px 15px #43b0ff);
}
.imgShadow-none {
  -webkit-filter: drop-shadow(0px 0px 0);

  filter: drop-shadow(px 0px 0);
}

.mask-animation{
  animation: 
    addColor 1000ms steps(19) forwards;
}
@keyframes addColor {
  0% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }

  100% {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
}

/* colorfilltest */


