---
import Contact from "../components/Contact.astro";
import H1 from "../components/H1.astro";
import Hero from "../components/Hero.astro";
import InfoSection from "../components/InfoSection.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
import { cities } from "../utils/cities";
import slugify from "../utils/slugify";
export function getStaticPaths() {
    // "ECommerceWebDevelopment", "SEO"
    return cities.map((city) => {
        //let seo=`${city.toLowerCase()}-Web Development}`

        console.log(city);
        return {
            params: { webDev: slugify(`${city} Web Development`) },
            props: { city: city },
        };
    });
}

const { webDev } = Astro.params;
const { city } = Astro.props;
---

<Layout>
    <H1 class="h1">{city} Web Design</H1>
    <section class="text-white">
        
    </section>
</Layout>
