---
import Hero from "../components/Hero.astro";
import InfoSection from "../components/InfoSection.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />
  <InfoSection />
  <Testimonials />
  <div class="h-[10000px]"></div>
</Layout>
