---
import { Image } from "@astrojs/image/components";

---

<section class="bg-white pt-16 contrast-200">
    <h2 class="h2 px-5 mb-8">Contact</h2>
    <div id="formContainer" class="lazy flex py-16" data-bg="contactImage.jpg">
        <form
            name="Contact"
            class="flex flex-col px-5 sm:px-5 md:px-10 my-5 max-w-xl mx-auto sm:bg-gradient-to-b from-offBlack/30 to-offBlack/70 sm:text-white lg:w-3/5 rounded-2xl backdrop-blur-xl "
            method="POST"
            data-netlify="true"
            netlify
            data-netlify-honeypot="bot-field"
        ><h3 class="h3 py-6 text-center">Let's Talk About Your <strong>Website Design</strong></h3>
            <input name="bot-field" class="hidden" />
            <input type="hidden" name="form-name" value="Contact" />
            <label class="formLabel relative" for="name"
                ><span class="text-red-500 absolute -left-3">*</span> Name:</label
            >
            <input
                required
                name="name"
                type="text"
                placeholder="Matthew Mercer"
            />

            <label class="formLabel relative" for="email"
                ><span class="text-red-500 absolute -left-3">*</span> Email:
            </label>
            <input
                required
                id="email"
                name="email"
                type="email"
                placeholder="matt@critrole.com"
            />
            <label class="formLabel" for="message"> Message:</label>
            <textarea
                id="message"
                name="message"
                class="overflow-y-aut"
                rows="6"
                placeholder="How do you want to do this?"></textarea>
            <label class="text-lg mt-3" for="marketing">
                <input
                    required
                    name="name"
                    type="checkbox"
                    placeholder="Charles Offdenson"
                    class="accent-accent-blue"
                /> Recieve newsletter/marketing emails (not required)</label
            >

            <button
                type="submit"
                class="py-3 px-6 mt-10 bg-accent-blue text-offBlack w-36 rounded-full mr-auto font-bold text-lg sm:text-xl"
            >
                Submit
            </button>
            <p class="text-right my-5 text-lg">
                or email me at <a class="text-black sm:text-white font-semibold text-left" href="mailto:jon@jonhudak.dev"
                    >jon@jonhudak.dev</a
                >
            </p>
        </form>
        <!-- <img class="w-2/5 object-cover w-ful" alt="" format="jpg" src="/images/nordwood-themes-bJjsKbToY34-unsplash.jpg" /> -->
    </div>
</section>
<style>
    input,
    textarea {
        @apply border border-accent-blue rounded-lg bg-neutral-500/50 sm:bg-white placeholder:text-black/60 placeholder:font-semibold placeholder:text-xl px-5 py-3 text-offBlack font-semibold;
    }
    #formContainer {
        background-image: url("../images/contactImage.jpg");
        background-position: top; 
        background-repeat: no-repeat; 
        background-size: cover;
    }

    @media (max-width: 640px) {
        #formContainer {
            background-image: none;
        }
    }
</style>
