---
import { Image } from "astro:assets";

const {service="Web Design"} = Astro.props;
---

<section class="bg-neutral-800 full place-items-center ">
  
       
        <div id="formContainer" class="flex flex-col md:py-16 max-w-2xl place-content-center w-full mx-auto">
            <form
                name="Contact"
                class="px-5 sm:px-5 md:px-10 my-5 py-5 w-full flex flex-col sm:bg-gradient-to-b from-offBlack to-offBlack sm:text-white rounded-2xl backdrop-blur-xl filter-none z-10 border-accent-blue shadow-[0_0_20px] shadow-accent-blue"
                method="POST"
                action="/thank-you"
                data-netlify="true"
                netlify
                data-netlify-honeypot="bot-field"
            >
                
                <input name="bot-field" class="hidden" />
                <input type="hidden" name="form-name" value="Contact" />
                <label class="formLabel relative" for="name"
                    ><span class="text-red-500 absolute -left-3">*</span> Name:</label
                >
                <input
                    required
                    name="name"
                    type="text"
                    placeholder="Matthew M"
                />
                <label class="formLabel relative" for="email"
                    ><span class="text-red-500 absolute -left-3">*</span> Email:
                </label>
                <input
                    required
                    id="email"
                    name="email"
                    type="email"
                    placeholder="jon@jonhudak.dev"
                />
                <label class="formLabel" for="message"> Message:</label>
                <textarea
                    id="message"
                    name="message"
                    class="overflow-y-aut"
                    rows="6"
                    placeholder="How do you want to do this?"></textarea>
                <label class="text-lg mt-3" for="marketing">
                    <input
       
                        name="newsletter"
                        type="checkbox"
                        class="accent-accent-blue"
                    /> Recieve newsletter emails (not required)</label
                >
                <button
                    type="submit"
                    class="button py-5 my-5 px-8 w-min"
                >
                    Submit
                </button>
                <!-- <p class="text-right my-5 text-lg">
                    or email me at <a
                        class="text-black sm:text-white font-semibold text-left"
                        href="mailto:jon@jonhudak.dev">jon@jonhudak.dev</a
                    >
                </p> -->
            </form>
        </div>
        
</section>
<style>
    input,
    textarea {
        @apply border border-accent-blue rounded-lg bg-neutral-200/60 sm:bg-white placeholder:text-black/60 placeholder:font-semibold placeholder:text-xl px-5 py-3 text-offBlack font-semibold;
    }
    /* #formContainer {
        background-image: url("../images/contactImage.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position:relative; 

    }*/
    /* #formContainer::after{
        content:"";
        position:absolute;
        inset:0;
        @apply sm:bg-black/40;
    } */
    .inputField {
    @apply text-black px-3 py-2 mt-3 text-xl w-full bg-blue-50 focus:bg-blue-200 border-2 border-blue-500 outline-double outline-4 outline-neutral-700 rounded-2xl;
  }
  .formLabel {
    @apply text-2xl py-2;
  }
</style>
