---
const { footerClass = "" } = Astro.props;
const year = new Date().getFullYear();
import navLogo from "../content/images/logo-no-background.svg";
---

<footer
    class={`min-h-20 text-center justify-between place-items-center border-t-2 border-gray-600 bg-offBlack text-white z-40 ${footerClass} mt-auto w-full`}
>
    
        <!-- <div
            class="flex gap-12 w-full place-items-center py-8 my-auto"
        >
            <img class="w-64 mx-auto md:mx-0" alt="logo" src={navLogo.src} />
            <ul class="text-left font-semibold underline mx-auto md:mx-0 flex gap-4 place-self-center">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <!-- <li>
                    <a href="/pittsburgh-web-development">Web Development</a>
                </li> 
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/contact">Contact Me</a>
                </li>
            </ul>
        </div> -->

    
    <div class="flex pt-3  gap-3 place-content-center mx-auto border-t">
        <p>Elizabeth, PA</p>
        <p>
            <a href="tel:412-405-1059" class="text-white hover:underline font-semibold">412-405-1059</a>
        </p><p>
            <a class="text-white hover:underline font-semibold" href="mailto:jon@jonhudak.dev"
            >jon@jonhudak.dev</a
            >
        </p>
    </div>
    <p class="mt-auto py-3 px-5">
        &copy; {year} Jon Hudak Web Development
    </p>
</footer>
<style>
    input {
        @apply border border-accent-blue rounded-lg bg-white placeholder:text-black/60 placeholder:font-semibold px-3 py-1 text-offBlack font-semibold;
    }
    form label{
        @apply text-lg mt-2;
    }
</style>
