---
const {classes}=Astro.props;
---
<section class={`bg-white mt-36 h1-bg ${classes}`}>
    <h1 id="top" class="h1 bg-white/90 py-20"><slot/></h1>
</section>
<style>
.h1-bg{
    background-image:url("/images/h1Code.jpg");
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
</style>