---
let contactOpen = false;
import heroPic from "/images/glitchLarge.webm";
---

<section
  id="hero"
  class="flex flex-col-reverse lg:flex-row pt-32 pb-12 lg:pb-0 px-0 lg:pl-10 place-items-center justify-between lg:h-[800px] xl:h-[850px] overflow-hidden"
>
  <div
    id="heroInfo"
    class="flex flex-col max-w-xl xl:max-w-3xl m-auto xl:mb-72 lg:w-1/2"
  >
    <h1
      class="mt-5 text-4xl sm:text-5xl pb-5 text-center lg:text-center select-none text-white font-title"
    >
      Pittsburgh Web <span class="text-accent-blue">Developer</span>
    </h1>
    <h2 class="font-sans mt-5 text-xl sm:text-2xl text-center text-white">
      Custom website design for small businesses in the Pittsburgh area with a
      focus on SEO.
    </h2>

    <button
      class={`relative py-6 px-6 mt-10 mx-2 lg:w-auto sm:mx-auto button ${
        contactOpen ? "bg-sky-600" : "bg-accent-blue"
      }`}
    >
      Free Web Design Consultation
    </button>
  </div>
  <div class="lg:w-1/2 flex place-content-center lg:place-content-end">
    <video
      id="heroPic"
      alt="A photo of Jon Hudak giving a thumbs up with a glitch effect."
      class="mt-5 lg:mt-12 imgShadow-sm lg:rounded-none lg:border-none lg:shadow-none z-10 w-48 h-48 min-h-max lg: lg:w-auto lg:h-auto object-cover object-top rounded-full shrink-0 border-2 border-accent-blue shadow-xl animate-heroRoll lg:animate-heroSlide"
      autoplay
      loop
      muted
      playsInline
      
    >
      <source src={heroPic} type="video/webm" />
    </video>
  </div>
</section>

<!-- {
            contactOpen && (
              <div
                class="max-w-2xl overflow-hidden bg-black place-content-center flex-col rounded-lg origin-top border border-gray-600"
                variants={contactVariant}
                custom={0}
                initial={"hidden"}
                animate={"shown"}
                exit={"hidden"}
              >
                 <ContactSec popup={true} />
              </div>
            )
          } -->
