---
import { Fragment } from "astro/dist/runtime/server";
import InfoCard from "./InfoCard.astro";

const infoItems = [
  {
    text: "When a website takes even 3 seconds to load, it could result in as many as 32% more people leaving before it even fully loads. That number starts growing for every second that passes. Many sites made with page builders are frequently bogged down with bloated code and load times that well exceed what is recommended. My sites all hand-coded, ensuring that yours will be blazing fast no matter what we throw at it.",
    icon: "lightbulb",
    title: "Performance",
  },
  {
    text: "A common problem with many website solutions is the site suddenly going offline or getting hacked. Dynamic page builders need to access a database to retrieve their information. Wordpress, for examples, requires frequent updates and careful plugin maintenance to stay secure. My custom-built sites do not require any database or plugin maintenance meaning they're always available and safe from malicious attacks.",
    icon: "phone",
    title: "Security",
  },
  {
    text: "With the release of Google's Core Web Vitals update, it's more important than ever to focus on the things that make Google happy. Those things are speed, so the site loads fast, particularly on mobile devices, responsiveness to look good on any device, and accessibility, because everyone should be able to use your site no matter what. I treat every line of code with care to make sure it scores highly in all of these areas.",
    icon: "magnifyingGlass",
    title: "On-page SEO",
  },
];
---

<section class="full py-16 place-items-center text-white ">
  <div class=" infoWrapper">
    <h2 class="h2">Why Work With Me?</h2>
    <div
      class="mt-16 grid grid-cols-1 lg:grid-cols-3 w-full gap-10 lg:gap-8 max-w-7x"
    >
      {
        infoItems.map((item) => (
          <InfoCard title={item.title} icon={item.icon} text={item.text} />
        ))
      }
    </div>
  </div>
</section>