---
import { Icon } from "astro-icon";
const { title, icon } = Astro.props;
---

<div
  class="card cot bg-dark-gray text-white mt-3 md:mt-5 pb-5 pt-5  flex flex-col lg:max-w-xs relative min-h-full"
>
<div class="">
  <h2 class="notype card-title font-bold text-center lg:text-right text-2xl">
    {title}
  </h2>
  <Icon name={icon} class="w-20 text-center m-auto absolute -top-6 -left-6 bg-dark-gray rounded-full border-accent-blue border-lt-orange-500 border" /></div>
  <p class="card-info mx-auto text-white/70 mt-2 text-lg flex flex-col shrink">
    <slot/>
</p>
</div>
