---
import { Fragment } from "astro/dist/runtime/server";
import InfoCard from "./InfoCard.astro";

const infoItems = [
  {
    text: "Using website builders can cause sites to look generic and canned. Building websites without these templates means more flexibility, control, and performance. In short, a custom website is optimized for success.",
    icon: "lightbulb",
    title: "Custom Websites",
  },
  {
    text: "In today's digital age, it's crucial for businesses to have a website that looks great and functions smoothly on any device. That's why I take a mobile-first approach to design. A responsive site will help you reach more people and increase engagement on your website.",
    icon: "phone",
    title: "Mobile-Friendly",
  },
  {
    text: "Having a beautiful and functional website is great, but it's not enough if no one can find it. That's where <a href='https://en.wikipedia.org/wiki/Search_engine_optimization'> search engine optimization (SEO)</a> comes in. By prioritizing SEO, you will increase your online visibility and reach a wider audience.",
    icon: "magnifyingGlass",
    title: "SEO",
  },
];
---

<section
  class="py-16 place-items-center bg-white"
>
<h2 class="h2 text-black px-5">Web Design Services</h2>
  <div class="px-3 md:px-10 mt-16 grid grid-cols-1 lg:grid-cols-3 w-full mx-auto gap-10 lg:gap-8 max-w-7x">
    {
      infoItems.map((item) => (
        <InfoCard title={item.title} icon={item.icon} text={item.text} />
      ))
    }
  </div>
</section>
