---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const portfolio = await getCollection("portfolio");
---

<section
  id="portfolio"
  class="full bg-offBlack text-white md:x-10 py-16"
>
  <div class="portfolioWrapper justify-center feature  mobile-full">
    <h2 class="h2">Portfolio</h2>

    <div class=" grid lg:grid-cols-3 gap-8 pt-8">
      {
        portfolio.map((item, index) => {
          return (
            <article class="fadeUp flex flex-col relative shrink group transition duration-500 cursor-pointer">
              <div class="relative hover:-translate-y-4 no-underline transition duration-500  h-fu bg-dark-gray py-4 lg:p-4">
                <div class="toolbar bg-dark-gray grid grid-cols-[1fr_3fr_1fr] mb-4">
                  <div class="toolbarDotWrapper flex shrink-0 gap-1 place-items-center pl-2 lg:pl-0">
                    <span class="toolbarDot w-3 h-3 rounded-full bg-neutral-600 group-hover:bg-neutral-700 inline-block" />
                    <span class="toolbarDot w-3 h-3 rounded-full bg-neutral-600 group-hover:bg-neutral-700 inline-block" />
                    <span class="toolbarDot w-3 h-3 rounded-full bg-neutral-600 group-hover:bg-neutral-700 inline-block" />
                  </div>
                  <p
                    aria-hidden="true"
                    class="toolbarURL w-full text-sm bg-neutral-800 px-2 rounded-sm"
                  >
                    {item.data.link}
                  </p>
                </div>
                <video
                  class=" lazy  w-full object-fill shrink shadow-lg z-20"
                  poster={`${item.data.poster?item.data.poster:""}`}
                  loop
                  muted
                  playsinline
                >
                  <source src={item.data.video} type="video/webm" />
                  This image isn't working on your browser. Let me know so I can
                  fix it!
                </video>
                <div class="grid bg-dark-gray text-white px-4 py-6 w-full">
                  <h3 class="h3 text-accent-blue text-center">
                    <a
                      href={item.data.link}
                      class="before:absolut before:inset- before:-z-10 no-underline group"
                    >
                      {item.data.title}
                    </a>
                  </h3>
                  <p class="text-right font-semibold underline mt-4">Go to Site</p>
                </div>
              </div>
            </article>
          );
        })
      }
    </div>
  </div>
</section>

<style>
  video {
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
  }
</style>
<script>
  const videos = document.querySelectorAll(".portfolioWrapper video");
  const cards = document.querySelectorAll(".portfolioWrapper article");

  videos.forEach((video, index) => {
    cards[index].addEventListener("mouseenter", () => {
      video.play();
    });

    cards[index].addEventListener("mouseleave", () => {
      video.load();
    });
  });
</script>
