---
import { Image, Picture } from "@astrojs/image/components";
import { getCollection } from "astro:content";

const portfolio = await getCollection("portfolio");
---

<section class="bg-neutral-100 md:px-10 py-16">
    <h2 class="h2">Portfolio</h2>
    {portfolio.map((item)=>

    
    <article class="flex flex-col lg:flex-row gap-10 relative py-16">
        <Picture widths={[200, 400, 800]}
    sizes="(max-width: 600px) 200px, (max-width: 800px) 400px, 800px" aspectRatio="4:3" alt={item.data.alt} class="object-cover" src={item.data.image1} format="webp"/>
        <div>
            <h3>{item.data.title}</h3>
            <p>
                {item.body}
            </p>
            
        </div>
        <a href="https://www.pennbrew.com" class="text-right absolute bottom-5 right-5">Visit the Penn Brewery Site</a>
    </article>)}
</section>
